<div class="row">
  <div *ngFor="let product of products  | async"
   class="col-md-4">
    <div style="padding-top: 10px;">
      <div class="card">
        <img [src]="imgUrl">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
        <div class="card-body">
          <li class="list-group-item">
            <app-stars [rating]="product.rating"></app-stars>
            <a [routerLink]="['/product',product.id]" class="card-link">【{{product.title}}】</a>
            <p >{{product.price}}元</p>
            <p>{{product.desc}}</p>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
